<div class="login-form six columns offset-by-three">

<h1>Timed Sales</h1>

<%= form_tag '/login/authenticate', :class => "nice" do %>
  <label for='shop'><strong>Please enter the URL of your store</strong>	</label>

    <%= text_field_tag 'shop', nil, {:class => "input-text medium", "placeholder" => "store.myshopify.com"} %>
    <a href="#" class="blue button radius form-submit">Submit</a>

<% end %>

</div>