body {
	background:image-url('/assets/graphy.png') repeat;
}

#header {
	padding: 40px 0px 30px 0px;
}

#login-link {
	text-align:right;
	margin-top:22px;
}

.alert-box {
	margin-bottom:20px !important;
}

.center {
	text-align:center;
}

.upcoming-flash p {
	margin-bottom:0;
}

.logo_icon {
	width: 80px;
	margin-top: -65px;
}

.logo {
	width: 80px;
	float: left;
	margin: -5px 10px 0px 0px;
}