div.time-picker {
  position: absolute;
  height: 191px;
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
  width:140px;

  background:#fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

div.time-picker-12hours {
  width:140px;
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 8px 3px;
  margin:0px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}

.ui-timepicker-list { overflow-y: auto; height: 150px; width: 140px; background: #fff; border: 1px solid #ddd; margin: -11px 0 0 0; padding: 0; height:191px }
.ui-timepicker-list.ui-timepicker-with-duration { width: 11em; }
.ui-timepicker-duration { margin-left: 5px; color: #888; }
.ui-timepicker-list:hover .ui-timepicker-duration { color: #888; }
.ui-timepicker-list li { padding: 3px 0 3px 5px; cursor: pointer; white-space: nowrap; color: #000; list-style: none; margin: 0; }
.ui-timepicker-list:hover .ui-timepicker-selected { background: #fff; color: #000; }
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover { background: #1980EC; color: #fff; }
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration { color: #ccc; }